{{! Maintainer - Kunj kunjsharma@hotmail.com}}
<div class="scenario-inner component-inner" role="region" aria-label="{{_globals._components._scenarioImages.ariaRegion}}">
	{{> component this}}
	<div class="scenario-outer-widget">
		{{! Widget }}
		<div class="scenario-widget component-widget" style="background-image:url({{src}});">
			 {{#each items}}
				<div class="scenario-contanier">
					{{! Callout }}
					<div class="scenario-callout-contanier">
						{{#if graphic}}
						<div class="scenario-callout-image {{#if position.right}} right {{else}} left {{/if}}">
							<img src="{{graphic.src}}" alt="{{graphic.alt}}" title="{{{graphic.alt}}}"/>
						</div>
						{{/if}}
						<div class="scenario-callout-text {{#if color}} color1 {{else}} color2 {{/if}} {{#if position.right}} right {{else}} left {{/if}}">
							<div>{{{a11y_text body}}}</div>
						</div>
					</div>
				</div>
			 {{/each}}
		</div>
		{{! Navigator }}
		<div class="scenario-navigator-container">
			<button class="scenario-navigator-button left" href="javascript:void();" role="button" aria-label="{{_buttons._scenarioBackward.ariaLabel}}">
				<div class="icon icon-controls-left"></div>
			</button>
			<div class="scenario-navigator-progressbar-container">
				<div class="scenario-navigator-progressbar">
					<div class="scenario-navigator-progressbar-fill"></div>
				</div>
			</div>
			<button class="scenario-navigator-button right" href="javascript:void();" role="button" aria-label="{{_buttons._scenarioForward.ariaLabel}}">
				<div class="icon icon-controls-right"></div>
			</button>
		</div>
	</div>
</div>